html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(24,8,204);
    background: -moz-linear-gradient(197deg, rgba(24,8,204,1) 15%, rgba(0,250,193,1) 64%, rgba(70,252,143,1) 93%);
    background: -webkit-linear-gradient(197deg, rgba(24,8,204,1) 15%, rgba(0,250,193,1) 64%, rgba(70,252,143,1) 93%);
    background: linear-gradient(197deg, rgba(24,8,204,1) 15%, rgba(0,250,193,1) 64%, rgba(70,252,143,1) 93%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1808cc",endColorstr="#46fc8f",GradientType=1);
}

.navbar {
    margin: 0;
    padding: 0;
    background-color: rgb(7, 130, 134);
    height: 5%;
    width: 100%;
}

.nav {
    width: 93%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.linav {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 5px;
    padding: 20px;
    color: white;
    font-size: 200%;
}

.a {
    text-decoration: none;
    color: white;
}

.a:hover {
    background-color: rgb(80, 47, 3);
    transition: .5s ease-in-out;
    border-radius: 8px;
}


.about {
    margin: 50px;
}

.pro {
    margin: 50px;
}

.kon {
    margin: 50px;
}

.abot {
    font-size: 30px;
}

footer {
    margin: 50px;
}

.mampu {
    align-items: center;
    margin: 0 auto;
}

.b {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.welcome {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}

.gambar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 29px 9px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 29px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 29px 9px rgba(0,0,0,0.75);
}